<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="DummyRestAPI E2E Test">
        <classes>
            <class name="com.LipiAutomation.Homework_11th_Aug.APITesting_DummyRestAPI_E2E">
            </class>
        </classes>
    </test>

</suite>
